# Ignore data files
*.csv
*.partial
*.xml

# Ignore all Slurm/Job output logs
*.out

# Ignore Python cache and submodules/docker if you don't want them pushed
__pycache__/
.DS_Store

# Keep the scripts but ignore the data folders
Tokyo_Project_Compile_Data/
